@{
    ViewBag.Title = "About - Lynn's Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="about-container">
    <h1>@ViewBag.Message</h1>
    
    <p class="about_me_img"><img src="~/Content/img/About_Me.jpg"></p>
    <section class="about-section">
        <h2>What You’ll Find Here</h2>
        <p>
            This blog showcases a blend of coding projects, design explorations, and articles that capture my experiences in tech and design.
            Here, I document the process, learnings, and inspiration behind each project.
        </p>
    </section>

    <section class="about-section">
        <h2>My Projects</h2>
        <p>
            From web applications and UI/UX designs to illustrations and interactive media, each project is a part of my creative journey. I hope these works offer insights or inspiration for your own projects.
        </p>
    </section>

    <section class="about-section">
        <h2>Copyright Notice</h2>
        <p>
            All content on this blog, including code snippets, designs, and written articles, is copyrighted by me, Lynn. Please respect my work by not copying or redistributing any part of this blog without permission.
        </p>
    </section>
</div>
