@{
    ViewBag.Title = "Contact Us";
}
<main class="contact-container" aria-labelledby="title">
    <h3>@ViewBag.Message</h3>

    <div class="contact-info">
        <address class="contact-address-block">
            <div class="contact-content">
                <p class="contact_img"><img src="~/Content/img/contect.jpg" alt="Contact Image"></p>
                <div class="contact-details">
                    <p>Our Address</p>
                    New Zealand<br />
                    <abbr title="Phone">P:</abbr> 0284176XXX
                </div>
            </div>
        </address>

        <address class="contact-address-block">
            <p>Contact Me</p>
            <strong>Email:</strong> lingyuluo25@gmail.com<br />
        </address>
    </div>
</main>


